<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Table to CSV Generator</div>
                    <div class="p-0 card-body">
                        <table class="table mb-0 table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th v-for="column in columns">
                                        <input
                                            type="text"
                                            class="form-control"
                                            :value="column.key"
                                            @input="
                                                updateColumnKey(column, $event)
                                            "
                                        />
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="(row, index) in data"
                                    :key="index"
                                    :class="{
                                        'bg-danger text-white':
                                            index == delete_index
                                    }"
                                >
                                    <td v-for="(dataColumn, columnName) in row">
                                        <input
                                            type="text"
                                            class="form-control"
                                            v-model="row[columnName]"
                                        />
                                    </td>
                                    <td>
                                        <button
                                            type="button"
                                            class="close"
                                            aria-label="Close"
                                            @click="remove_row(index)"
                                        >
                                            &times;
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            class="p-2 text-center text-white border-bottom bg-danger"
                            v-if="error"
                        >
                            All fields are required.
                        </div>
                        <div class="p-2">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                @click="add_column()"
                                :disabled="disable_btn"
                            >
                                Add Column
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary"
                                @click="add_row()"
                                :disabled="disable_btn"
                            >
                                Add Row
                            </button>
                        </div>
                    </div>

                    <div class="text-right card-footer">
                        <button
                            class="btn btn-primary"
                            type="button"
                            @click="submit()"
                            :disabled="disable_btn"
                        >
                            <b-spinner
                                v-if="disable_btn"
                                small
                                type="grow"
                            ></b-spinner>
                            <span v-else>Export</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CSVGenerator",

    data() {
        return {
            error: false,
            delete_index: null,
            disable_btn: false,
            new_column: 0,
            data: [
                {
                    firstName: "John",
                    lastName: "Doe",
                    emailAddress: "john.doe@example.com"
                },
                {
                    firstName: "John",
                    lastName: "Doe",
                    emailAddress: "john.doe@example.com"
                }
            ],
            columns: [
                { key: "firstName" },
                { key: "lastName" },
                { key: "emailAddress" }
            ]
        };
    },

    methods: {
        add_row() {
            // Add new row to data with column keys
            this.data.push(this.rows);
        },

        remove_row(row_index) {
            //highlight row
            this.delete_index = row_index;

            // Confirm
            this.$bvModal
                .msgBoxConfirm(
                    "Please confirm that you want to delete this row.",
                    {
                        title: "Please Confirm",
                        size: "sm",
                        buttonSize: "sm",
                        okVariant: "danger",
                        okTitle: "YES",
                        cancelTitle: "NO",
                        footerClass: "p-2",
                        hideHeaderClose: false,
                        centered: true
                    }
                )
                .then(value => {
                    if (value) {
                        this.data.splice(row_index, 1);
                        this.disable_btn = true;
                    }
                    this.delete_index = null;
                });
        },

        add_column() {
            const key = "NoTitle" + this.new_column++;

            //push to Columns
            this.columns.push({ key: key });

            this.data.map(option => Object.assign(option, { [key]: "" }));
        },

        updateColumnKey(column, event) {
            let oldKey = column.key;

            let columnKeyExists = !!this.columns.find(
                column => column.key === event.target.value
            );

            column.key = event.target.value;

            if (columnKeyExists) {
                column.key = event.target.value.substring(
                    0,
                    event.target.value.length - 1
                );
                return;
            }

            this.data.forEach(row => {
                if (row[oldKey]) {
                    row[column.key] = row[oldKey];
                    delete row[oldKey];
                }
            });
        },

        tableHeader(text) {
            return text
                .replace(/_/g, " ")
                .replace(/([A-Z])/g, " $1")
                .replace(/^./, function(str) {
                    return str.toUpperCase();
                });
        },

        simpleValidition() {
            try {
                this.data.forEach((obj, index) => {
                    for (let input in obj) {
                        if (!obj[input]) {
                            throw new Error("empty input");
                        }
                    }
                });

                this.disable_btn = false;
                this.error = false;
            } catch (e) {
                this.disable_btn = true;
                this.error = true;
            }
        },

        submit() {
            this.disable_btn = true;
            return axios
                .patch("/api/csv-export", this.data)
                .then(response => {
                    try {
                        const url = window.URL.createObjectURL(
                            new Blob([response.data], { type: "text/csv" })
                        );

                        // Create dynamic <a> element
                        const link = document.createElement("a");
                        link.href = url;
                        link.setAttribute("download", "test.csv");
                        document.body.appendChild(link);

                        // Dynamicall click the a link element
                        // This will download the csv file
                        link.click();
                    } catch (error) {
                        // Catch error response here. You may show and error message to client
                    }
                })
                .finally((this.disable_btn = false));
        }
    },

    watch: {
        data: {
            handler(newVal) {
                this.simpleValidition();
            },
            deep: true
        },

        columns: {
            handler(newVal) {
                this.simpleValidition();
            },
            deep: true
        }
    }
};
</script>

<style scoped></style>
